.HouseTableView {
  table {
    border-collapse: collapse;
  }
  th {
    position: sticky;
    top: 0;
    background: var(--background-color);
  }
  td, th {
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 15em;
    }
  }
  tbody tr {
    cursor: pointer;
    &:hover {
      color: var(--background-color);
      background-color: var(--text-color-softer);
      td {
        border-bottom: 1px solid var(--text-color-softer);
      }
    }
    &.filteredOut,
    &.filteredOut:hover {
      color: var(--disabled-color);
      background-color: var(--background-color);
      td {
        border-bottom: 1px solid var(--border-color-softer);
      }
    }
    &.selected {
      background-color: var(--accent-color);
      color: var(--button-primary-color);
      td {
        border-bottom: 1px solid var(--accent-color);
      }
    }
  }
}
