.AuthModalView {
  max-width: 40em;

  .spread {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .statusIcon {
    margin-left: 2em;
    width: 2em;
    height: 2em;
  }

  .errorMessage {
    color: var(--error-color);
  }
}
