<h3>Welcome to the HOSTED assignment app</h3>
<p>To use this app, your Google account should already have been given
permissions to access specific sheets. Note that this app has not yet been
reviewed by Google, so you will probably get security warnings; for our initial
prototyping phase, you should be fine to authorize the app anyway.</p>

<div class="google button">
  <a></a>
  <div class="label">Connect Your Google Account</div>
</div>

<div class="spinner">
  <img src="img/spinner.gif"/>
</div>

<p>(todo: SurveyMonkey integration)</p>
