<h3>Welcome to the HOSTED assignment app</h3>
<p>To use this app, your Google account should already have been given
permissions to access specific sheets. Note that this app has not yet been
reviewed by Google, so you will probably get security warnings; for our initial
prototyping phase, you should be fine to authorize the app anyway.</p>

<div class="spread">
  <div class="spread">
    <div class="google button">
      <a></a>
      <div class="label">Connect Your Google Account</div>
    </div>

    <img class="statusIcon" src="img/spinner.gif"/>
  </div>

  <div class="logout button">
    <a></a>
    <div class="label">Log out</div>
  </div>
</div>

<p class="errorMessage" style="display:none">There was an error connecting to
the data; please make sure that you've been given read + write access to the
relevant Google sheets.</p>
